<% provide(:title, "Home") %>
<div class="row"><a class="btn btn-success" href = <%=new_course_path%>>Them khoa hoc</a></div>
<div class="row"><a class="btn btn-success" href = <%=new_category_path%>>Them the loai</a></div>
<div class="row">
  <%= render 'shared/course' %>
</div>
<%= will_paginate @courses %>
