<%= link_to  "tao moi", new_chatroom_path %>
<div class="row">
  <div class="col-md-1">Ma phong</div>
  <div class="col-md-1">So cau hoi</div>
  <div class="col-md-4">Noi dung</div>
  <div class="col-md-1">Muc cuoc</div>
  <div class="col-md-2">So nguoi choi</div>
  <div class="col-md-2">Trang thai</div>
</div>
<% if @chatrooms.present? %>
  <%= render @chatrooms %>
  <%= will_paginate %>
<% end %>
<script>
  $('.join_chatroom').click(function() {
    id_room = $(this).attr('id_room')
    document.getElementById(id_room).click()
  })
  $('.leave').click(function() {
   id_room = $(this).attr('id_room')
   $('#room_button').html("")
   $('#room_button').append('<div class="col-md-1 join_chatroom" id_room="'+id_room+'"><a href="/join_rooms/create?id='+id_room+'">Tham gia</a></div>')
  
  })
</script>
