<div class="row col-md-8 offset-md-2">
  <h1><%=@chatroom.topic%></h1>
  <div class="panel panel-default">
    <% if @chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial:"messages/message",collection: @chatroom.messages %>
      </div>
    <% else %>
      <div class="panel-body hidden" id="messages">
      </div>
    <% end %>
  </div>
  <%= render "messages/message_form" ,message: @message %>
</div>
<%= hidden_field_tag :remaining_time, @remaining_time %>
<div class="timer">
  <h4>Remaining Time</h4>
  <div id="clock"></div>
</div>
