<%provide(:title, "Sign Up Page")%>
<%provide(:button_text, "Sign Up Page")%>
<div class= "background_signup">
  <div class="row">
    <div class="col-md-6 offset-md-3 signup_form">
      <h1 style="color: white">Sign Up</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
