// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// img {
#carousel-example-2 {
  .row {
    .carousel-inner {
      border: 1px solid gray;
      border-radius: 20px;
      padding: 10px 10px 10px 10px;
    }

    .carousel-control-prev {
      img {
        height: 50px;
        width: 50px;
      }
    }
    .carousel-control-next {
      img {
        height: 50px;
        width: 50px;
      }
    }
    .carousel-item img {
      height: 250px;
      width: 250px;
      margin: auto;
      display: block;
    }
    .answer {
      margin: auto;
      display: block;
    }
    .carousel-item a {
      display: block;
    }
  }
  .form-group {
    .col-xs-3 {
      margin: auto;

      .row {
        .col-xs-3{
          margin-right: 0px;
          padding-right: 0px;
        }
        .col-xs-1 {
            margin-left: 0px;
          padding-left: 0px;
          justify-content: center;
          text-align: center;
          margin-top: 5.5px;
        }
      }
    }
  }
}
