// @import "bootstrap-sprockets";
// @import "bootstrap";
@import 'bootstrap/dist/css/bootstrap';
/* universal */
body {
  padding-top: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-items: flex-end;
  align-items: flex-start;
  align-content: space-between;
  align-content: space-around;
}