// @import "bootstrap-sprockets";
// @import "bootstrap";
@import 'bootstrap/dist/css/bootstrap';
/* universal */
body {
  padding-top: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.signup_form{
  background-attachment: fixed;
  background-image: url("background_elearning.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  color: white;
  margin-top: 5%;
}
.course{
  .card {
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .card-body{
    }
    .course-image{
      flex: 2;
    }
    .other{
      flex: 1;
    }
  }
}
.home_avatar{
  border-radius: 140px;
}
.stats{
  margin: auto;
  display: block;
}
.exambtn{
  margin-top: 10px;
}
.table-pagination {
  display: flex;
  justify-content: flex-end;


  .pagination {
    margin: 23px 15px;
  }

  .page-link {
    align-items: center;
    border: 0;
    border-radius: 5px;
    color: gray;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    margin: 0 5px;
    min-width: 32px;
    padding: 0 10px;

    &:focus {
      box-shadow: none;
    }

    &__previous,
    &__next {
      font-size: x-small;
    }
  }

  .page-item.active .page-link {
    background: blue;
  }
}
.course{
  margin-bottom: 20px;
}